/* Header */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
}
.site-nav .link,
.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Header */

/* Sections */
/* Hero */
.hero-title {
  color: var(--major-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--major-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.06em;
}
/* Hero */
/* Feature */
.feature-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list p {
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
/* Feature */
/* What we do */
.whaw-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
}
/* What we do */
/* Our team */
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.our-team-list p {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Our team */
/* Sections */

/* bnt */
.btn.main {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87em;
  text-align: center;
  color: var(--major-white-color);
  background-color: var(--accent-color);
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* bnt */
